{% extends "base.html" %}
{% block title %}Línea {{ linea }}{% endblock %}

{% block content %}
      <div class="row">
        <div class="span4">
          <div class="well">
          <h1>Línea {{ linea }}</h1>
          <p>Selecciona una parada para ver cuándo pasan los buses.</p>
          </div>
        </div>
        {% for r in rutas %}
        <div class="span4"> 
            <ul class="nav nav-tabs nav-stacked">
              <li class="nav-header"><h2><small>Destino</small> {{ r[0] }}</h2></li>
              {% for l in r[1] %}
              <li><a href="/parada/{{ l[0] }}"><h3><small>{{ l[0] }}</small> {{ l[1] }}  </h3></a></li>
              {% endfor %}
            </ul>
        </div>
        {% endfor %}
      </div>
{% endblock %}