{% extends "base.html" %}
{% block title %}Santander Bus{% endblock %}

{% block content %}
      <div class="row">
        <div class="span4">
          <div class="well">
          <h1>Líneas de Bus <small>SANTANDER</small></h1>
          <p>Selecciona una línea para ver la lista de paradas.</p>
          </div>
          </div>
          <div class="span6"> 
            <ul class="nav nav-tabs nav-stacked">
              {% for l in lineas %}
              <li><a href="/linea/{{ l[1] }}"><h3><span class="big-stop" style="background-color: #{{l[2]}}; margin-right: 10px">{{ l[1] }} </span> <small> {{ l[0] }}</small></h3></a></li>
              {% endfor %}
            </ul>
          </div>
      </div>
{% endblock %}