{% extends "base.html" %}
{% block title %}{{name_stop}}{% endblock %}

{% block content %}
      <div class="row">
        <div class="span6 offset1">
          <div class="well">
          <h1>{{name_stop}}</h1>
          <h2><small>Parada {{id_stop}}</small></h2>
          <!-- <h1>Bootstrap starter template</h1> -->
          <p>Descubre cuál es el siguiente bus que pasará por esta parada.</p>
          <a class="btn" href="javascript:location.reload()"><i class="icon-refresh"></i> Actualizar</a>
          <br>
          </div>
      <!--   </div>

        <div class="span4">   -->     
          {% if not estimaciones %}
          <div class="alert alert-info">
              <button class="close" data-dismiss="alert">×</button>
              <strong>Ops!</strong> creo que no pasará ningún autobus por aquí en un buen rato...
          </div>
          {% else %}
          <table class="table table-striped" style="">
            <thead>
              <tr>
                <th>Línea</th>
                <th>Tiempo de espera</th>
              </tr>
            </thead>
            <tbody>
              {% for e in estimaciones %}
              <tr>
                <td><a href="/linea/{{ e[1] }}">{{ e[1] }}</a></td>
                <td>{{ e[0] }} minutos</td>               
              </tr>                          
              {% endfor %}
            </tbody>
          </table> 
          {% endif%}
        </div>
        <div class="span4">
          
          <!-- <canvas id="u22" class="CoolClock:Lev:125:noSeconds"></canvas> -->
          <canvas class="CoolClock:swissRail:128:" id="_coolclock_auto_id_0" width="300" height="300" style="width: 300px; height: 300px; "></canvas>
          <!-- <img src="http://www.poweroverethernet.com/images/articles/fullsize_491_1225960021.jpg" alt="clock"> -->
        </div>
      </div>
{% endblock %}

{% block javascript %}
<script src="/static/js/coolclock.js"></script>
{{ super() }}
{% endblock %}